<footer class="navbar navbar-inverse" style="margin: 0px; padding: 4rem; color: white;">
<div class="container-fluid">
<div class="row">
<div class="col-xs-12">
<div class="pull-left">
<p>Site last generated: {{ site.time | date: "%b %-d, %Y"  }}</p>
</div>
<div class="pull-right">
<p>&copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved.</p>
</div>
</div>
</div>
</div>
<!--
<p><img src="{{ "/images/company_logo.png" |  prepend: site.baseurl }}" alt="Company logo"/></p>
-->
</footer>
