{% assign myentry = entry %}

<li
{% if page.url == myentry.url %}
class="active"
{% endif %}
>
{% if myentry.external_url %}
<a href="{{myentry.external_url}}" target="_blank">{{myentry.title}}</a>
{% elsif myentry.url %}
<a href="{{myentry.url | prepend: site.baseurl}}">{{myentry.title}}</a>
{% else %}
<a href="#">{{myentry.title}}</a>
{% endif %}
{% if myentry.entries %}
{% assign entry = 0 %}
{% for entry in myentry.entries %}
<ul>
{% include sidebarentry.html %}
</ul>
{% endfor %}
{% endif %}
</li>
