<ul class="nav">
    <li class="sidebarTitle">{{site.data.sidebar.title}}</li>
    {% for entry in site.data.sidebar.entries %}

    <li
        {% if page.url == entry.url %}
        class="active"
        {% endif %}
    >
    {% if entry.external_url %}
    <a href="{{entry.external_url}}" target="_blank">{{entry.title}}</a>
    {% elsif entry.url %}
    <a href="{{entry.url | prepend: site.baseurl}}">{{entry.title}}</a>
    {% else %}
    <a href="#">{{entry.title}}</a>
    {% endif %}
    {% if entry.entries %}
    {% for entry1 in entry.entries %}
<ul>

    <li
        {% if page.url == entry1.url %}
        class="active"
        {% endif %}
    >
    {% if entry1.external_url %}
    <a href="{{entry1.external_url}}" target="_blank">{{entry1.title}}</a>
    {% elsif entry1.url %}
    <a href="{{entry1.url | prepend: site.baseurl}}">{{entry1.title}}</a>
    {% else %}
    <a href="#">{{entry1.title}}</a>
    {% endif %}
    {% if entry1.entries %}
    {% for entry2 in entry1.entries %}
<ul>

    <li
        {% if page.url == entry2.url %}
        class="active"
        {% endif %}
    >
    {% if entry2.external_url %}
    <a href="{{entry2.external_url}}" target="_blank">{{entry2.title}}</a>
    {% elsif entry2.url %}
    <a href="{{entry2.url | prepend: site.baseurl}}">{{entry2.title}}</a>
    {% else %}
    <a href="#">{{entry2.title}}</a>
    {% endif %}
    {% if entry2.entries %}
    {% for entry2 in entry2.entries %}
<ul>


</ul>
{% endfor %}
{% endif %}

</ul>
{% endfor %}
{% endif %}

</ul>
{% endfor %}
{% endif %}
</li>
    {% endfor %}
</ul>
